Flask==3.0.3
gunicorn==23.0.0
tensorflow==2.15.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
scipy==1.11.4
Pillow==10.4.0
matplotlib==3.9.2
seaborn==0.13.2
h5py==3.11.0
opencv-python-headless==4.10.0.84